@import './global/buttons';
@import './global/colors';
@import './global/fonts';

:root {
	--background: hsl(199 100% 55%);
}

// @media (prefers-color-scheme: light) {
// 	:root {
// 		--background: hsl(199 25% 95%);
// 	}
// }

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	width: 100%;
}

body {
	background: var(--background);
	background-image: url(../../public/289shots_so.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: contain;
	color: var(--font-color);
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
