@import './global/breakpoints';
@import './global/colors';
@import './global/fonts';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#__next {
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	width: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Segoe UI', 'Candara', 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitstream Vera Sans', 'Trebuchet MS',
		'Verdana', 'Verdana Ref', sans-serif !important;
}

a:has(button) {
	text-decoration: none;
	&:hover {
		text-decoration: none !important;
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
