@import './global/breakpoints';
@import './global/colors';
@import './global/fonts';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#__next {
	min-height: 100vh;
	max-width: 100vw;
	overflow-x: hidden;
	width: 100%;
}

// body {
// 	// background: $bg-color-primary;
// 	// color: $font-color;
// 	// font-family: $font-sans-serif;
// }

a {
	text-decoration: none;
	// &:hover {
	// 	color: $link-color-hover;
	// }
	// &:active {
	// 	color: $link-color-active;
	// }
	// &:disabled {
	// 	color: $link-color-disabled;
	// }
	&:hover {
		button {
			text-decoration: none !important;
		}
	}
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

// .homepage {
// 	.hero_section {
// 		background-image: url(../../public/289shots_so.png);
// 		background-repeat: no-repeat;
// 		background-position: center top 7.5rem;
// 		background-size: contain;
// 		padding-block-start: 0;

// 		@media (min-width: $phone) {
// 			background-position: center top;
// 		}
// 		@media (min-width: $tablet) {
// 			background-position: right -2rem top 2rem;
// 		}
// 		@media (min-width: $desktop) {
// 			background-position: right -2rem top 4rem;
// 		}
// 	}
// }
