@import './global/breakpoints';
@import './global/colors';
@import './global/fonts';
@import './global/padding_n_margins';

$primary-nav-link-color: hsl(207 5% 97.5%);
$primary-nav-link-color-hover: hsl(207 15% 95%);
$primary-nav-link-color-active: hsl(207 65% 35%);
$primary-nav-link-color-disabled: hsl(207 25% 45%);

// .header {
// 	&__wrap {
// 		align-items: center;
// 		display: flex;
// 		flex-direction: column;
// 		flex-wrap: wrap;
// 		justify-content: flex-start;

// 		@media (min-width: $phone) {
// 			flex-direction: row;
// 		}
// 		@media (min-width: $tablet) {
// 		}
// 		@media (min-width: $tabletXL) {
// 			flex-wrap: nowrap;
// 		}
// 	}
// }

.header {
	box-sizing: border-box;
	flex-direction: column;
	margin-inline: auto;
	width: 100%;
	max-width: $desktop;
	padding: var(--chakra-space-2);
	transition: top 500ms ease-in-out;

	@media (min-width: $tablet) {
		height: fit-content;
		flex-direction: row;
		position: relative;
	}

	&__wrap {
		height: var(--chakra-space-12);
		inset-block-start: 0;
		overflow: hidden;
		padding: 0;
		position: fixed;
		// position: sticky;
		top: 0;
		width: 100%;
		z-index: var(--chakra-zIndices-modal);

		@media (min-width: $tablet) {
			height: fit-content;
			position: relative;
		}

		&.active {
			height: 100%;
		}
	}

	&.scroll-up,
	&:focus-within {
		top: 0;
	}

	&.scroll-down {
		top: -100%;
	}

	nav {
		align-items: center;
		display: flex;
		flex-direction: column;
		// gap: var(--chakra-space-1);

		@media (min-width: $tablet) {
			flex-direction: row;
			margin-inline-start: auto;
		}
	}

	.home {
		&__link {
			align-items: center;
			color: $primary-nav-link-color;
			display: flex;
			flex-wrap: nowrap;
			white-space: nowrap;

			&:hover,
			&:active,
			&:focus,
			&:focus-visible {
				color: $primary-nav-link-color-hover;
				outline: $primary-nav-link-color;
				text-decoration: none !important;
			}
		}
		&__logo {
			aspect-ratio: 1;
			height: 2rem;
			width: 2rem;

			@media (min-width: $phone) {
				height: 2.5rem;
				width: 2.5rem;
			}
			@media (min-width: $tablet) {
				font-size: 3rem;
			}
			@media (min-width: $desktop) {
				font-size: 3.5rem;
			}
			&_wrap {
				margin-inline-end: $margin-smaller;
			}
		}

		&__wordmark {
			font-family: $font-groupe;
			letter-spacing: -3px;
			white-space: nowrap;
		}
	}

	.primary_nav {
		align-items: center;
		display: flex;
		flex-direction: column;
		// gap: 1rem;
		// height: 100%;
		// justify-content: space-around;
		width: 100%;

		@media (min-width: $tablet) {
			flex-direction: row;

			// :first-child {
			// 	margin-inline-start: auto;
			// }
		}

		li {
			margin-inline: 0.5rem;
			width: 100%;
			@media (min-width: $tablet) {
				height: 100%;
				width: fit-content;
			}
		}

		.nav_link {
			// border-block-start-color: transparent;
			// border-block-start-style: solid;
			// border-block-start-width: 5px;
			// box-sizing: border-box;
			// color: $primary-nav-link-color;
			// font-size: 1rem;
			// height: 100%;
			outline: none;
			// // padding-block: $padding-smaller;
			// // padding-inline: $padding-tiny;
			// // position: relative;
			// // text-transform: capitalize;
			// // text-decoration: none !important;
			// // // transition: border-block-start-color 400ms ease-in-out;
			// // white-space: nowrap;
			// width: 100%;
			// z-index: 9999;

			@media (min-width: $tablet) {
				width: fit-content;
			}

			button {
				color: var(--chakra-colors-white);
				font-size: 0.9rem;
				text-transform: capitalize;
				text-decoration: none !important;
				white-space: nowrap;
				&.blue {
					&:hover {
						background-color: var(--chakra-colors-blue-600);
					}
					&.ghost:hover {
						background-color: var(--chakra-colors-blue-500);
					}
				}
				&.pink {
					:hover {
						background-color: var(--chakra-colors-pink-600);
					}
					&.ghost:hover {
						background-color: var(--chakra-colors-pink-500);
					}
				}
				&.purple {
					:hover {
						background-color: var(--chakra-colors-purple-600);
					}
					&.ghost:hover {
						background-color: var(--chakra-colors-purple-500);
					}
				}
				&.white {
					color: var(--chakra-colors-blue-500);
					:hover {
						background-color: var(--chakra-colors-white);
					}
				}
				@media (min-width: $tablet) {
					font-size: 1rem;
				}
			}

			// &:before {
			// 	content: '' !important;
			// 	height: 2px;
			// 	width: 100%;
			// 	position: absolute;
			// 	background: $color-compliment;
			// 	top: 0;
			// 	margin: 0;
			// 	pointer-events: none;
			// 	z-index: 3;
			// 	left: 0;
			// 	right: 0;
			// 	opacity: 0;
			// 	visibility: hidden;
			// 	transition: all 400ms ease-in-out;
			// }

			// &:hover,
			// &:active,
			// &:focus,
			// &:focus-visible {
			// 	color: $primary-nav-link-color-hover;
			// 	// border-block-start-color: $color-compliment;

			// 	// &:before {
			// 	// 	opacity: 1;
			// 	// 	visibility: visible;
			// 	// }
			// }
		}

		// li {
		// 	height: 100%;

		// 	// &:not(.no_hover) {
		// 	// 	border-block-start-color: transparent;
		// 	// 	border-block-start-style: solid;
		// 	// 	border-block-start-width: 5px;
		// 	// 	transition: border-block-start-color 400ms ease-in-out;
		// 	// 	&:hover {
		// 	// 		border-block-start-color: $color-compliment;
		// 	// 	}
		// 	// }
		// }
	}

	.menu_toggle {
		color: var(--chakra-colors-white);
		display: block;
		position: absolute;
		inset-block-start: var(--chakra-space-2);
		inset-inline-end: var(--chakra-space-1);
		margin: 0 !important;
		height: var(--chakra-sizes-6);
		width: var(--chakra-sizes-6);

		@media (min-width: $tablet) {
			display: none;
		}
	}

	&.dark {
		.menu_toggle {
			color: var(--chakra-colors-gray-200);
		}

		background: var(--chakra-colors-blackAlpha-800);
		@media (min-width: $tablet) {
			background: none;
		}
	}
}

// .menu_mobile {
// 	// background: var(--chakra-colors-whiteAlpha-800);
// 	position: fixed;
// 	inset-block-start: 0;
// 	height: var(--chakra-sizes-10);
// 	width: 100%;

// 	&.dark {
// 		// background: var(--chakra-colors-blackAlpha-800);

// 		.menu_toggle {
// 			color: var(--chakra-colors-gray-200);
// 		}
// 	}

// 	@media (min-width: $tablet) {
// 		display: none;
// 	}
// }

.dark_mode_toggle {
	position: fixed;
	inset-block-end: var(--chakra-space-1);
	inset-inline-end: var(--chakra-space-1);
	// @media (min-width: $phone) {
	// 	top: 0.75rem;
	// 	right: 0.75rem;
	// }
}
