$padding-nano: 0.0625rem;
$padding-micro: 0.125rem;
$padding-tiny: 0.25rem;
$padding-smaller: 0.5rem;
$padding-small: 0.75rem;
$padding-default: 1rem;
$padding-big: 1.25rem;
$padding-bigger: 1.5rem;
$padding-huge: 2rem;

$margin-nano: 0.0625rem;
$margin-micro: 0.125rem;
$margin-tiny: 0.25rem;
$margin-smaller: 0.5rem;
$margin-small: 0.75rem;
$margin-default: 1rem;
$margin-big: 1.25rem;
$margin-bigger: 1.5rem;
$margin-huge: 2rem;
